altgraph==0.17.3
asttokens==2.4.0
auto-py-to-exe==2.39.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.4
Eel==0.16.0
executing==2.0.0
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.0rc3
icecream==2.1.3
idna==3.4
macholib==1.16.2
markdown-it-py==3.0.0
mdurl==0.1.2
mvsdk==0.0.6.post2310111200
numpy==1.26.0
pandas==2.1.1
parse==1.19.1
pendulum==2.1.2
pycparser==2.21
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
PyJWT==2.8.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pytzdata==2020.1
requests==2.31.0
six==1.16.0
tk==0.1.0
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.0
