asttokens==2.4.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
colorama==0.4.6
cryptography==42.0.0
executing==2.0.1
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
mvsdk==0.0.9
numpy==1.26.1
pandas==2.1.1
parse==1.19.1
pendulum==2.1.2
pycparser==2.21
Pygments==2.16.1
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pytzdata==2020.1
requests==2.31.0
rich==13.6.0
shellingham==1.5.4
six==1.16.0
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
